

/*================================
      Login
================================*/

#login_page .container{
  
  background-image: url('http://res.cloudinary.com/http-communities-me/image/upload/v1519010324/Resources/Background/LoginBackground.jpg');
 
  background-size: cover;
  background-repeat: no-repeat;  
  
  height: 100vh;
  width: 100vw;
}

#login_page .login-button-container{
  position: absolute;
  top:0;
  //background-color: #fff;  
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 15%;
  padding-bottom: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
  width: 80%;
}

#login_page .login_form{
  padding-bottom: 20px;
}

#logoLogin {
    padding: 40px 0 40px;
    width: 100px;    
    height: auto;
}


.soical_login a {

  display: inline-flex;

  padding: 50px 25px 5px 25px;
  transition: all 0.5s ease 0s;  
}

#login_page  .login-button-container h2  {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #d5cccc; 
  line-height: 0.1em;
  margin: 20px 0 20px; 
}

#login_page  .login-button-container h2 span { 
   //background:#fff; 
   padding:0 10px; 
}

/*
.soical_login {
  font-weight: 700;
  font-size: 15px;
  
}

.soical_login a {
  background: #4751a9 none repeat scroll 0 0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 10px;
  width: 45%;
  padding: 5px 5px;
  transition: all 0.5s ease 0s;
}
.soical_login a:hover{
  background: #FF931E;
}
.soical_login a {
		padding: 20px 20px;
        padding-right: 3px;        
}
.soical_login i.fa {    
  padding-right:3px;
}

.soical_login span {
  color: #fff;
  display: block;
  position: relative;
  padding: 10px 0;
  font-size: 15px;
}
.soical_login span::before {
    background: #333333 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 45%;
}
.soical_login span::after {
    background: #333333 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 45%;
}
.soical_login a.google_plus{
  background: #e94132;
}
.soical_login a.google_plus:hover{
  background: #FF931E;
}

*/

.input_feild, .search_feild {
    position: relative;
}
.input_feild i.fa {
    color: #999999;
    font-size: 15px;
    left: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.input_feild .form-control,
.form-control
 {
    border-radius: 10px;
    font-size: 10px;
    margin-bottom: 5px;
    min-height: 20px;
    padding-left: 60px;
}

.login_form .btn.btn-info {
  border:1px solid #e71d24; -webkit-border-radius: 20px; -moz-border-radius: 20px;border-radius: 20px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
   background-color: #EC5055; background-image: -webkit-gradient(linear, left top, left bottom, from(#EC5055), to(#DB3D42));
   background-image: -webkit-linear-gradient(top, #EC5055, #DB3D42);
   background-image: -moz-linear-gradient(top, #EC5055, #DB3D42);
   background-image: -ms-linear-gradient(top, #EC5055, #DB3D42);
   background-image: -o-linear-gradient(top, #EC5055, #DB3D42);
   background-image: linear-gradient(to bottom, #EC5055, #DB3D42);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EC5055, endColorstr=#DB3D42);
   font-size: 20px;
   min-height: 50px;
   width: 80%;
   transition: .5s;
  }
.login_form .btn.btn-info:hover{
  border:1px solid #c1151a;
  background-color: #e72228; background-image: -webkit-gradient(linear, left top, left bottom, from(#e72228), to(#DB3D42));
  background-image: -webkit-linear-gradient(top, #e72228, #DB3D42);
  background-image: -moz-linear-gradient(top, #e72228, #DB3D42);
  background-image: -ms-linear-gradient(top, #e72228, #DB3D42);
  background-image: -o-linear-gradient(top, #e72228, #DB3D42);
  background-image: linear-gradient(to bottom, #e72228, #DB3D42);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e72228, endColorstr=#DB3D42);
 }



#login_page .login_form{
 margin-top:40px;
}

.login_form a {
    color: #333333;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    text-decoration: underline;
    transition: all 0.5s ease 0s;
}
.login_form a:hover{
  color: #4751a9;
}
