.feed_post_content_Uploaded_Image video{
    width:97%;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
}


.feed_post_content_new_media img {
  height: auto;
  width: 100%;  
}

.feed_post_content_Uploaded_Image img{
   display:block;
  margin-left:auto;
  margin-right:auto;
}