<div class="feed_post_content md-no-style">
  <div class="feed_post_message" [innerHTML]="PostMessage"></div>
  <div *ngIf="MediaType=='Image'">
    <div *ngFor="let img of fixedImagesforStory">       
      
      <img src="{{img.ImageURL}}" (click)="openComments('Image')">
    </div>
  </div>
  <div *ngIf="MediaType=='Video'">
    <video controls="controls" preload="metadata" autoplay muted webkit-playsinline="webkit-playsinline" class="videoPlayer"
      (click)="openComments('Video')">
      <source src="{{PostMediaURL}}" type="video/mp4" />
    </video>
  </div>
</div>
<div class="content-centered">
  <app-user-post-action MediaType="{{MediaType}}" LikeCount="{{LikeCount}}" CommentCount="{{CommentCount}}" UserID="UserID"
    StoryID="{{StoryID}}" (ViewCommentsClicked)="viewCommentsClicked()"></app-user-post-action>
</div>