/*================================
      User Post Component
================================*/


.feed_post_message {
  color: #3b3b3b;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 10px;
  font-family: 'Lato', sans-serif;
  min-height: 40px;
}


.feed_post_content img {
  border: 5px solid #dcdcdc;
  border-radius: 5px;
  height: auto;
  width: 100%;
  max-height: 600px; 
}

.feed_post_content video {
  border: 5px solid #dcdcdc;
  border-radius: 5px;
  height: auto;
  width: 100%;
  max-height: 600px; 
  background-color: black;
}



#feed_post {
  margin-bottom: 100px;
}


@media only screen and (max-width: 767px) { 
	.feed_post_content p {
		text-align: left;
	}
}