
.eventForm{
    padding:10px;
}

.eventForm > h4{
    padding-top:15px;
    color:#373D3F;
   
    padding-bottom: 15px;
}

.event-country-lable{
    padding-left: 10px;
}

.Go-Button-New-Event
{
    position: absolute;
    right:10px;
}
.event-submit-height{
    height: 100px;
}
