<!-- Generated template for the NewEventComponent component -->

<form [formGroup]="newEventForm" novalidate (ngSubmit)="saveEvent(newEventForm.value, newEventForm.valid)">


  <div class="eventForm">
    <h4>Setup an Event!</h4>
    <ion-list no-lines>
      <ion-item>
        <ion-input placeholder="Event Link - do you have one?" formControlName="link" [(ngModel)]="postText" [ngClass]="{'has-error':!newEventForm.controls['link'].valid}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Event Name" formControlName="name" [ngClass]="{'has-error':!newEventForm.controls['name'].valid}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Description" formControlName="description" [ngClass]="{'has-error':!newEventForm.controls['description'].valid}"></ion-textarea>
      </ion-item>

      <ion-item>

        <image-upload ImageCategory="Story" (OnFileSaved)="mediaSelectedForPosting($event)"></image-upload>
        <!--<div class="fileUpload btn btn-outline-info">
          <span><i  class="fa fa-camera fa-3x user-right" aria-hidden="true"></i></span>
          <input type="file" class="upload" (change)="imageFileChange($event)" />
        </div>-->
      </ion-item>

      <ion-item>
        <ion-input placeholder="Street Address" formControlName="address" [ngClass]="{'has-error':!newEventForm.controls['address'].valid}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="City" formControlName="city" [ngClass]="{'has-error':!newEventForm.controls['city'].valid}"></ion-input>
        <ion-input placeholder="Zip/Postal Code" formControlName="zip" [ngClass]="{'has-error':!newEventForm.controls['zip'].valid}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="event-country-lable">Country</ion-label>
        <ion-select [(ngModel)]="eventCountry" formControlName="country" [ngClass]="{'has-error':!newEventForm.controls['country'].valid}">
          <ion-option value="USA">USA</ion-option>
          <ion-option value="CAD">CAD</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="event-submit-height">
        <button type="submit" class="btn btn-success Go-Button-New-Comp Go-Button-New-Event" [disabled]="isUploadingImage">Go <i class="fa fa-check " aria-hidden="true"></i></button>
      </ion-item>

      <!--
      <ion-item>
        <button ion-item (click)="launchCamera()">
          <ion-icon name="md-camera" item-start></ion-icon>
          Event Banner Image
        </button>
      </ion-item>
-->
    </ion-list>
  </div>

</form>