<ion-header>
  
    <ion-navbar transparent>
      <ul id="header">
        <li>
          <button ion-button (click)="closeModal()" icon-left>
            <ion-icon name="return-left"></ion-icon>Back
          </button>
        </li>
        <li>
          <ion-title>Forget Password</ion-title>
        </li>
      </ul>
  
  
    </ion-navbar>
  
  
  </ion-header>
  <ion-content padding>
  
      <div class="containerForgetPassword text-center">
        <a href="#"><img src="assets/images/login/logo.png" alt="logo"></a>
  
        <ion-item>
          <ion-label color="primary" stacked>Email</ion-label>
          <ion-input 
          type="email" 
          placeholder="What was the email you registered?"
          [(ngModel)]="email"
           ></ion-input>
        </ion-item>
  
  
        <button ion-button block class="btn-login" (click)="sendForgetPassEmail()">Send My Password</button>
  
      </div>
  
  </ion-content>