// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content{
    background-size: 100% 100%;
    background-repeat: no-repeat;

    //background-image: url('http://res.cloudinary.com/http-communities-me/image/upload/v1508561885/Resources/Background/blue_background.png');

    //background-image: url('http://res.cloudinary.com/http-communities-me/image/upload/v1508647726/Resources/Background/Red_Background.png');
  
 
}
.tabs-md .tab-button {
    color: #141823 !important;
       
}
  
//selected color
.tabs-md .tab-button[aria-selected=true] {
    color: #141823 !important;
    
}

.tab-button {
    color: #141823 !important;
    
    font-weight: 300px;
    font-size: 11pt;
    background-color: rgba(255,255,255,0);// #9999FF; //#00C5CD; //#1a1a1a #8466f0
    border-top: 1px inset #99FF33;
}

.tabs-md .tab-button-icon{
    color:#99FFCC;
}



div {
    color: #141823; 
}

.item-md {
    background: rgba(255,255,255,0.45);
  }

.tabs-container{
    width:50%;
}


.tab-container{
    display: inline-flex;
}


ion-header{
    //background: rgba(255,255,255,0);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+48,fc3f55+68,c63631+84,c63631+92,c63631+92,fc3f55+100,fc3f55+100,fc3f55+101&0.8+0,0.07+100 */
background: -moz-linear-gradient(right, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.45) 48%, rgba(252,63,85,0.3) 68%, rgba(198,54,49,0.19) 84%, rgba(198,54,49,0.13) 92%, rgba(252,63,85,0.07) 100%, rgba(252,63,85,0.07) 101%); /* FF3.6-15 */
background: -webkit-linear-gradient(right, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.45) 48%,rgba(252,63,85,0.3) 68%,rgba(198,54,49,0.19) 84%,rgba(198,54,49,0.13) 92%,rgba(252,63,85,0.07) 100%,rgba(252,63,85,0.07) 101%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.45) 48%,rgba(252,63,85,0.3) 68%,rgba(198,54,49,0.19) 84%,rgba(198,54,49,0.13) 92%,rgba(252,63,85,0.07) 100%,rgba(252,63,85,0.07) 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#12fc3f55',GradientType=0 ); /* IE6-9 */
 }

 .tabs-ios .tabbar{
    background: rgba(255,255,255,0);
 }

 .item.item-trns {
	//border-color: rgba(0, 0, 0, 0);
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+56,cc3333+100&0.8+0,0.07+100 */
//background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.39) 56%, rgba(204,51,51,0.07) 100%); /* FF3.6-15 */
//background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.39) 56%,rgba(204,51,51,0.07) 100%); /* Chrome10-25,Safari5.1-6 */
//background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.39) 56%,rgba(204,51,51,0.07) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#12cc3333',GradientType=0 ); /* IE6-9 */
}
