// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content{
    background-size: 100% 100%;
    background-repeat: no-repeat;

    //background-image: url('http://res.cloudinary.com/http-communities-me/image/upload/v1508561885/Resources/Background/blue_background.png');

    //background-image: url('http://res.cloudinary.com/http-communities-me/image/upload/v1508647726/Resources/Background/Red_Background.png');
  
 
}
.tabs-md .tab-button {
    color: #ffffff !important;
       
}
  
//selected color
.tabs-md .tab-button[aria-selected=true] {
    color: #ffffff !important;
    
}

.tab-button {
    color: white !important;
    background-color: #9999FF; //#00C5CD; //#1a1a1a #8466f0
    border-top: 1px inset #99FF33;

}

.tabs-md .tab-button-icon{
    color:#99FFCC;
}



div {
    color: #141823; 
}

.item-md {
    background: rgba(255,255,255,0.45);
  }

.tabs-container{
    width:50%;
}


.tab-container{
    display: inline-flex;
}
