/*================================
      User Comment Component
================================*/
#header li
{
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;  
}


.message-text{
    
    
    font-weight: 300;
    float: left;
    width: 100%;
    
}

.text-botom{
    bottom: 0px;
    
}

.image-object {
    border: 1px solid #07e5d8;
    border-radius: 50%;
    height: 30px;
    margin: 1px;
    width: 30px;
    
}

.btn-primary{
    font-size: 11pt;
}


.cardContainer{
    display:block;
    //border : 1px solid black;
    width: 100%;
}

.reply-container{
    float:right;
    width: 85%;
}

.reply-post{
    display: inline-block;
}

.cardContainer > p {
    font-size: 5pt;
}

ion-input{
    border-bottom: 1px solid #333333;
}


.newMedia > img{
    border: 5px solid #dcdcdc;
    border-radius: 5px;
    height: auto;
    width: 95%;
    margin-left: 10px;
}

.commentPostContainer{
    width:100%;
    
    margin-top: 30px;
    margin-bottom: 20px;
    
}

.commentPostContainer p{
    font-size: 11pt;
    padding-bottom: 5px;
}


/*================================
			Comments
================================*/
.comments {
    //background-color: #202020;
    background-color: rgba(255, 255, 255, 0.75);
    
    text-align:center;
    padding-top: 20px;
    margin: 0px 10px 0px 0px;
}

.comment-address{
    text-align: left;
    padding-left: 10px;
}

.comments video {
    width: 2024px;

}


.comments_reply{
    
    font-size: 15px;
    
    
    width: 100%;
    list-style: none;

}


.comment_day_difference{
    float: right;
    bottom: 0px;
}

.comments_reply > li {
    display: inline-block;
    padding-top: 0px;
}

.comments_reply > button {
    display: inline-block;
    padding-top: 0px;
    font-size: 15pt;
}
.comments_reply li a {
    
    display: block;    
    
}
.comments_reply li:last-child a {
    color: #b9b9b9;
}
.comments  .media {
  margin-top: 5px;
}

