<div class="post_like" *ngIf="FeedType=='Story'">
  <ul>
    <li>
      <button type="button" id="actionLikeButton" [ngClass]="likeClicked ? 'btn btn-link fa fa-gratipay fa-2x' : 'btn btn-link fa fa-gratipay fa-2x'"
        (click)="setLike(StoryID)"> <span class="action-button">{{LikeCount}}</span></button>
    </li>
    <li>
      <button type="button" class="btn btn-link fa fa-comments" (click)="viewComments(StoryID)"> <span class="action-button">{{CommentCount}}</span></button>
    </li>
    <li>
      <button type="button" class="btn btn-link fa fa-share-alt" (click)="presentPopover($event)"> <span class="action-button">Share</span></button>
    </li>
  </ul>

</div>
<div class="post_like" *ngIf="FeedType=='Event'">
  <ul>
    <li>
      <button type="button" class="btn btn-link fa fa-share-square-o" (click)="presentPopover($event)">Share</button>
    </li>
  </ul>

</div>