
/*================================
      User Post Action
================================*/

.post_like {
    /*border-bottom: 1px solid #ccc;*/
    padding:5px 0 10px 0;

    display:inline-block; //Typically a button wouldn't need its own line        
    margin:0 auto;
    width: 100%;
    
}
.post_like li {
    display: inline-block;
    padding: 0 20px 0 20px;
    
}

.post_like button {
    /*color: #b3ffb3;*/
    color: #5e657b;
    display: block;
    font-size: 20px;
   
    -webkit-transition: .5s;
    transition: .5s;
}


#actionLikeButton{
  color:red;
  
}

.post_like button i.fa {
	color: #07e5d8;
	font-size: 25px;
	padding-right: 5px;
	-webkit-transition: .5s;
	transition: .5s;
}
.post_like button:hover,
.post_like button:active,

.post_like button:hover i.fa{
  color: #9d9d9d;
  text-decoration:none;
}

.post_like ul{
	margin-top: 10px;
} 



@keyframes wobble {
    from {
      transform: none;
    }
   
    15% {
      transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
   
    30% {
      transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
   
    45% {
      transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
   
    60% {
      transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
   
    75% {
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
   
    to {
      transform: none;
    }
  }


/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
	

}