
<div class="post_like">
  <ul>
    <li>
      <button type="button" class="btn btn-link fa fa-thumbs-up fa-2x" (click)="setLike(StoryID)"> {{LikeCount}}</button>
    </li>
    <li>
      <button type="button" class="btn btn-link fa fa-comments" (click)="viewComments(StoryID)"> {{CommentCount}}</button>
    </li>
    <li>
      <button type="button" class="btn btn-link fa fa-share-square-o" (click)="presentPopover($event)">Share</button>
    </li>
  </ul>

</div>
<div class="bottom-bar">&nbsp;</div>