.message-name {
    
    font-size: 14px;
    float: left;
    font-weight:500;
    
    border-left: 20px;
    color: #7e7e7e;
}
.message-header{
    float: left;
    width: 100%;
}

.message-time{
    font-size: 8pt;
    padding-top: 3px;
    width:200px;

}

.message-container{
    margin-left: 0px;
    float: left;
}

.message-text{
    text-align: left;
    margin-left: 0px;
    float: left

}