<div class="feed_post_content md-no-style">


  <div>
    <div>
      <img src="{{ImageURL}}" (click)="openComments()">
    </div>
  </div>
  <div class="feed_post_message" [innerHTML]="PostMessage">


  </div>

  <h4>
    <div class="addressSection customWell" >
      <address>
        <div class="address float-left" (click)="launchMaps()">
          <h2>
            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
            <b>Location:</b>
          </h2>
          <div class="location">{{Address}}, {{City}}</div>
        </div>
        <div class="event-date-section float-left">
          <h2>
            <i class="fa fa-calendar-o">&nbsp;
              <b>On: </b>
            </i>
          </h2>
          <div class="start-end-dates float-left">
            <span>{{dateString}}</span>
          </div>
        </div>
      </address>

    </div>
  </h4>
</div>





<div class="content-centered">
  <app-user-post-action MediaType="{{MediaType}}" LikeCount="{{LikeCount}}" CommentCount="{{CommentCount}}" UserID="UserID"
    StoryID="{{StoryID}}" (ViewCommentsClicked)="viewCommentsClicked()" FeedType="Event" EventID="{{EventID}}"></app-user-post-action>
</div>