<div class="sharingContainer">
  <div *ngIf="mediaType != 'Video'">

    <h4>Share...</h4>
    <ion-item>
      <div (click)="shareFaceBook()"><span>Share with Facebook <i class="fa fa-facebook-square" aria-hidden="true" ></i></span></div>
    </ion-item>

    <ion-item>
      <div (click)="shareWhatsApp()"><span class="whatsappColors">Share with Whatsapp <i class="fa fa-whatsapp" aria-hidden="true"></i></span></div>
    </ion-item>

    <ion-item>
      <span>Copy Link</span>
    </ion-item>
  </div>

  <div class="myGroupsShare">

    <h4>Groups</h4>
    <div>
      <ion-list class="set-small-height">
        <ion-item *ngFor="let usecom of userCommunity">

          <div (click)="onShareClick([usecom.id])"><span>{{usecom.name}}</span></div>
        </ion-item>
      </ion-list>
    </div>
  </div>
</div>