/*================================
      Community Item
================================*/

.communityList > div > img{
    margin-right: 20px;
}

.communityListItem-buttons {
    position: absolute;
    right: 10px;
}

.communityListItem-buttons > div > button{
    font-size: 11pt;
}



.communityName {
    font-size: 20px;
    padding-top: 35px;
    padding-top: 0;
}

.contentCommunityPara {
    color: #7e7e7e;
    font-size: 15px;
}

.contentCommunity {
    padding: 5px 0;
}
.contentCommunity {
    position: relative;
    top: 50%;
}