/*================================
      User location
================================*/

.containerlocation{
    top: 100px;
}

.containerlocation div{
    font-size: 15px;
    font-weight: 800;
    padding-top:20px;
    padding-bottom: 30px;
}

.containerlocation button{
    margin:auto;
    width: 50%;
}


.containerlocation li{
    list-style-type: none;
    display: inline;
    
}


.nextButton{
    float: right;
    margin-top:250px;
}

